<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="siteHeader" class="site-bar">
    <div class="site-bar-inner">
        <a class="site-brand" th:href="@{/}">SpaceFlow</a>
        <nav class="site-nav">
            <a th:href="@{/}">공간 예약</a>
            <a th:href="@{/reservations/my}">내 예약 조회</a>
            <a th:href="@{/admin/login}">관리자</a>
        </nav>
    </div>
    <div class="site-bar-support">
        <div class="site-bar-support-inner">
            원하는 회의실을 빠르게 찾고, 30분 단위로 예약과 운영 관리를 진행할 수 있습니다.
        </div>
    </div>
</header>
</body>
</html>
